* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'pixel';
    font-size:1.05em;
    background-image: url('https://comfort.kayla.care/gfx/aboutbg.png');
    background-size: 400px;
}

html{
    scrollbar-color: #ffbedd rgba(255,255,255,0);
    scrollbar-width: thin;
}


@font-face {
    font-family: 'quicklove';
    src: url('/fonts/quicklove.ttf');
}

@font-face {
    font-family: 'cherish';
    src: url('/fonts/cherish.ttf');
}

@font-face {
    font-family: pixel;
    src: url(https://dl.dropbox.com/s/rwu0nhwc3rnbaqm/mspixel.otf);
}

@font-face {
    font-family: 'Spirit';
    src: url('/fonts/Spirit.ttf');
}

@font-face {
    font-family: 'emojifont';
    src: url('/fonts/EmojiFont.ttf');
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    max-width: 100%;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 230px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

main {
    flex: 1;
    margin: 0 20px;
    max-width: 800px;
}

main section {
    background: url('/gfx/pinkgrid.png'); /* Background image */
    margin-bottom: 20px; /* Margin */
    max-width: 800px; /* Max width */
    padding: 20px; /* Padding */
    border: 2px solid #ffffff;
    outline: 1.5px dashed #ffffff;
    outline-offset:3px;
    border-radius: 10px;
    /* border-width:7px;
    border-style:solid;
    border-image: url('pinkborder.png') 7 fill round; */
    }

.topbar, .navbar, footer {
    color: #ffffff;
    padding: 10px;
}

#navbar {
    padding: 5px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.35);
    background-image: linear-gradient(to right, #FFADC9, #FFD3DF, #FFADC9);
    background-blend-mode: screen;
    border-top: 2px solid;
    border-image: linear-gradient(to right, #FFADC9, #FFD3DF, #FFADC9) 1;
    z-index:99;
}

#navbar ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    margin: 5px 0;
    padding-bottom: 5px;
}

#navbar li a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover {
    text-decoration: underline solid;
    color: #FFADC9;
}

#navbar li:nth-child(n) {
    text-shadow: 
        -1px -1px 0 #FFADC9,  
        1px -1px 0 #FFADC9,
        -1px 1px 0 #FFADC9,
        1px 1px 0 #FFADC9;
}

#navbar li:nth-child(5n+1):hover .dropup-content {
    background-color: #FFBEDD;
}


.dropup {
    position: relative;
    display: inline-block;
    
}

.dropup-content {
    display: none;
    position: absolute;
    bottom: 100%;
    min-width: 160px;
    z-index: 1;
    padding: 5px 0;
    animation: scrollOpen 0.5s ease forwards;
    background-color: rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(to top, #FFADC9, #FFD3DF);
    background-blend-mode: screen;
    border: 2px solid;
    border-image: linear-gradient(to bottom, #FFADC9, #FFD3DF) 1;
}

.dropup-content a {
    color: #ffffff !important;
    display: block;
    padding: 5px 0;
    /* text-shadow: -1px -1px 0 #ffc8b8, 1px -1px 0 #FFBEDD, -1px 1px 0 #afe7e3, 1px 1px 0 #e7c9f4; */
    font-family: 'Cherish';
    font-size: 18px;
}

.dropup-content a:hover {
    text-decoration: none !important;
    letter-spacing: 1.2px !important;
    text-shadow: -1px -1px 0 #FFADC9, 1px -1px 0 #FFADC9, -1px 1px 0 #FFADC9, 1px 1px 0 #FFADC9, 0 0 5px #FFADC9;
}

.dropup:hover .dropup-content {
    display: block;
}

.star {
    font-family: 'quicklove';
    font-size: 12px;
}

.alyssa{
    font-family: 'emojifont';
}

u{
    text-decoration: none;
    background: linear-gradient(180deg, rgba(255,255,255,0) 70%, rgb(255, 173, 201) 70%);
}

@keyframes scrollOpen {
    0% {
        transform: scaleY(0) translateY(-10px);
        opacity: 1;
    }
    20% {
        transform: scaleY(1.1) translateY(1px);
    }
    80% {
        transform: scaleY(0.95) translateY(-1px);
    }
    100% {
        transform: scaleY(1) translateY(0);
    }
}

#dhtmltooltip{
    position: absolute;
    max-width: 100px;
    border: 1px solid #FFD3DF;
    outline: 1px dashed #FFD3DF;
    outline-offset: 3px;
    border-radius: 6px;
    padding: 1px;
    background-color: #FFAEC9;
    visibility: hidden;
    z-index: 100;
    color: #ffffff;
    text-align:center;
    font-size:14px;
}

.safe a{
    text-decoration: underline dotted 1px;
    color: #FFAEC9;
    transition: 0.5s;
}

.safe a:hover{
    text-decoration: none;
    letter-spacing:0.5px;
}

::selection{
    background-color:#FFAEC9;
    color:#ffffff;
}

h2 {
    font-size: 25px;
    background: url(/gfx/checker.png);
    border: #FFADC9 solid 1px;
    outline: #FFADC9 dashed 1px;
    outline-offset: 3px;
    border-radius: 5px;
    padding: 2px;
    font-family: 'quicklove';
    color: white;
    letter-spacing: 4px;
    text-shadow: -1px -2px 0 #FFADC9, 1px -1px 0 #FFADC9, -1px 1px 0 #FFADC9, 1px 1px 0 #FFADC9, 0 0 5px #FFADC9;
    text-align: center;
    margin-bottom:7px;
    transition: 0.2s ease-in-out;
}

h2::before{
  content: "\eb03";
   font-size:22px;  
   margin-right:4px;
   font-family:'cappuccicons'; 
}

h2::after{
    content: "\eb03";
    font-size:22px;
    margin-left:4px;
    font-family:'cappuccicons'; 
}

h2:hover{
    letter-spacing:6px;
}

h3{
    font-family: 'cherish';
    background-image: linear-gradient(to top, #FFADC9, #FFD3DF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgba(255,255,255,);
    text-decoration:none;
    font-size:25px;
}

h3:nth-of-type(1){
    margin-top:10px;
}

h3::selection{
    -webkit-text-fill-color: #ffffff;
}

h3::before{
content: url('/gfx/h3.gif');
  position: relative;
  right: 10px;
  bottom: -1px;
}

h3::after{
    content: url('/gfx/h3.gif');
      position: relative;
      left: 10px;
      bottom: -1px;
      z-index: 0;
    }

si{
    text-decoration:underline wavy 1px #FFADC9;
    text-decoration-skip-ink: none;
    margin-bottom:1px;
}

main ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

main li::before {
    content: url('https://64.media.tumblr.com/tumblr_m230q68lJ71qfamg6.gif');
    margin-right: 5px; 
    display: inline-block;
    flex-shrink: 0; 
}


mark{
    background-color:#FFADC9;
}

.image-grid {
    text-align: center; /* Center-align the grid items */
}

.grid-item {
    display: inline-block;
    width: 150px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid #FFADC9;
    border-radius: 10px;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.grid-item .description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 173, 201, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.grid-item:hover .description {
    opacity: 1;
}

.nat{
    max-width:200px;
}

q{
    font-size:17px;
}

q::before{
    content:"“";
    font-family:arial;
    font-size:18px;
}

q::after{
    content:"”";
    font-family:arial;
    font-size:18px;
}

gpoy img {
    max-height:300px;
    transition: 0.2s ease-in-out;
}

gpoy img:hover{
    transform:scale(1.5);
}

gpoy img:active{
    transform:scale(1.5);
}

quiz img {
    max-height:300px;
    transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    main {
        order: 1;
    }

    .sidebar-left {
        order: 2;
    }

    .sidebar-right {
        order: 3;
    }

    .sidebar-right .sidebar-bottom{
        margin-bottom:80px;
    }

    .sidebar-container {
        width: 100%;
    }

    gpoy img{
        max-height:150px;
    }
    
    main section:last-of-type {
        margin-bottom: 100px;
    }
    
}

@media only screen and (min-width: 768px) {
    main section:last-of-type {
        margin-bottom: 50px;
    }

}
